<div class="card single-post mb-6">

  <header class="card-header">
    <div class="column">
      <h1>{{title}}</h1>
    </div>
  </header>

  <div class="meta card-content">
    <div class="blog-post mb-3 mt-1">
      {{content}}
    </div>
    <div class="blog-info text-right">
      <b>{{user.username}}</b>
      |
      {{format_date created_at}}
      |
      <a href="/post/{{id}}" class="blog-title">{{comments.length}}
        {{format_plural "comment" comments.length}}</a>
    </div>
  </div>

</div>